
	
<header>
	
    <div class="playerid">
        <img class="badge" src="api/factions/{{ playerStats.mostPlayedFaction.faction_id }}/logo" tooltip="{{ playerStats.mostPlayedFaction.faction_name }}">
    
        <span class="nickname">{{ playerInfo.nickname }}</span>
        <span class="fullname">({{ playerInfo.firstname }} {{ playerInfo.lastname }})</span>
        <span class="lastgame">The last game {{ playerStats.lastgame.date }} against {{ playerStats.lastgame.nickname }} ({{ playerStats.lastgame.firstname }} {{ playerStats.lastgame.lastname }}).</span>
        <span class="currentStreak" ng-show="playerStats.gameCounts.streakInfo.currentStreak > 3">
            Currently on a streak of {{ playerStats.gameCounts.streakInfo.currentStreak }} victories!
        </span>
        <span class="longestStreak" ng-show="playerStats.gameCounts.streakInfo.longestStreak > 3">
            Longest streak: {{ playerStats.gameCounts.streakInfo.longestStreak }} victories!
        </span>
		<span class="gameCounts">{{ playerStats.gameCounts.total }} games played <span ng-show="playerStats.gameCounts.online > 0"> ({{ playerStats.gameCounts.in_person }} in person {{ playerStats.gameCounts.online }} on the Internet)</span>.</span>

    </div>
	
</header>

<!--
<section id="frequentOpponents">

    <h2>Adversaires fréquents</h2>
    
    <span ng-repeat="player in playerStats.opponents.slice(0,3)">
        {{ player.rival_firstname }} {{ player.rival_lastname }} ({{ player.rival_nickname }}) {{ player.games_played }} parties. {{ player.games_won}}-{{ player.games_lost}}-{{ player.games_tied}}
    </span>

</section>
-->

<section id="performanceHistory" ng-if="playerStats.performanceHistory">
		
    <h2>
        Performance history
    </h2>
    
    <span>    
        This is your average efficiency ( winning percentage ) calculated using a moving average of the last 10 games.    
    </span>
    
	<canvas style="height: 200px"
        class="chart chart-line"
        data="playerStats.performanceGraph.data"
        labels="playerStats.performanceGraph.labels"
        options="playerStats.performanceGraph.options"
        colours="playerStats.performanceGraph.colours">
	</canvas>
</section>

<section id="factionEfficiencyStatsWith">
		
    <h2>  
      Statistics by playing with the different factions
    </h2>
    <!--
    <div class="faction titleRow">
        <div class="with">
            Efficacité en jouant <strong ng-click="showEfficiencyWithInfo()">avec<sup>?</sup></strong>
        </div>
        
        <div class="against">
            Efficacité en jouant <strong ng-click="showEfficiencyAgainstInfo()">contre<sup>?</sup></strong>
        </div>
    </div>
    -->
    
    <div class="faction" ng-repeat="faction in playerStats.factionEfficiencyRatiosWith">
    
        <img class="badge" src="api/factions/{{ faction.faction_id }}/logo" tooltip="{{ faction.faction_name }}">
        
        <span><strong>{{ faction.efficiencyRatioWith | number:0 }}%</strong> efficiency with <strong>{{ faction.games_played_with }} games</strong> played with ({{ faction.games_won_with }}-{{ faction.games_lost_with }}-{{ faction.games_tied_with }})</span>
        
        <div class="stats_bar" ng-attr-style="width: {{ 100 * faction.games_played_with / playerStats.maxGamesWithFaction | number:2 | decimalDot }}%">
        
            <div class="faction_stats_bar darker" ng-attr-style="width: {{ 99.99 * faction.games_won_with / faction.games_played_with | number:2 | decimalDot }}%;" tooltip="{{ faction.games_won_with }} wins against {{ faction.faction_name }}"></div>
        
            <div class="faction_stats_bar" ng-attr-style="width: {{ 99.99 * faction.games_tied_with / faction.games_played_with | number:2 | decimalDot }}%;" tooltip="{{ faction.games_tied_with }} draws against {{ faction.faction_name }}"></div>
            
            <div class="faction_stats_bar lighter" ng-attr-style="width: {{ 99.99 * faction.games_lost_with / faction.games_played_with | number:2 | decimalDot }}%;" tooltip="{{ faction.games_lost_with }} losses against {{ faction.faction_name }}"></div>
            
        </div>
    </div>
    
</section>
		
        
<section id="factionEfficiencyStatsAgainst">

    <h2>
        Statistics by playing against different factions
    </h2>
    
    <div class="faction" ng-repeat="faction in playerStats.factionEfficiencyRatiosAgainst">
    
        <img class="badge" src="api/factions/{{ faction.faction_id }}/logo" tooltip="{{ faction.faction_name }}">
        
        <span><strong>{{ faction.efficiencyRatioAgainst | number:0 }}%</strong> efficiency with <strong>{{ faction.games_played_against }} games</strong> played against ({{ faction.games_won_against }}-{{ faction.games_lost_against }}-{{ faction.games_tied_against }})</span>
        
        <div class="stats_bar" ng-attr-style="width: {{ 100 * faction.games_played_against / playerStats.maxGamesAgainstFaction | number:2 | decimalDot }}%">
        
            <div class="faction_stats_bar darker" ng-attr-style="width: {{ 99.99 * faction.games_won_against / faction.games_played_against | number:2 | decimalDot }}%;" tooltip="{{ faction.games_won_against }} wins against {{ faction.faction_name }}"></div>
        
            <div class="faction_stats_bar" ng-attr-style="width: {{ 99.99 * faction.games_tied_against / faction.games_played_against | number:2 | decimalDot }}%;" tooltip="{{ faction.games_tied_against }} draws against {{ faction.faction_name }}"></div>
            
            <div class="faction_stats_bar lighter" ng-attr-style="width: {{ 99.99 * faction.games_lost_against / faction.games_played_against | number:2 | decimalDot }}%;" tooltip="{{ faction.games_lost_against }} losses against {{ faction.faction_name }}"></div>
            
        </div>
    </div>
		
</section>


<section id="opponentStats">
		
    <h2>
        Statistics against other players.
    </h2>
        
	<ul>
		<li ng-repeat="player in playerStats.opponents | limitTo:5">
            <span>
                <strong>{{ player.games_played }} games</strong> played against <strong>{{ player.rival_nickname }}</strong> ({{ player.rival_firstname }} {{ player.rival_lastname }}) : {{ player.games_won }} wins<span ng-show="player.games_lost">, {{ player.games_lost }} losses</span><span ng-show="player.games_tied">, {{ player.games_tied }} draws</span>
            </span>
			
            <div class="stats_bar" ng-attr-style="width: {{ 100 * player.games_played / playerStats.maxGamesAgainstPlayer | number:2 | decimalDot }}%">
                <div class="darker" ng-attr-style="width: {{ 99.99 * player.games_won / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_won }} games won"></div>
                <div ng-attr-style="width: {{ 99.99 * player.games_tied / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_tied }} games tied"></div>
                <div class="lighter" ng-attr-style="width: {{ 99.99 * player.games_lost / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_lost }} games lost"></div>
            </div>
		</li>
        
		<li ng-repeat="player in playerStats.opponents.slice(5)" ng-show="playerStats.allOpponentsVisible">
            <span>
                <strong>{{ player.games_played }} games</strong> played against <strong>{{ player.rival_nickname }}</strong> ({{ player.rival_firstname }} {{ player.rival_lastname }}) : {{ player.games_won }} victoires<span ng-show="player.games_lost">, {{ player.games_lost }} défaites</span><span ng-show="player.games_tied">, {{ player.games_tied }} nulles</span>
            </span>
			
            <div class="stats_bar" ng-attr-style="width: {{ 100 * player.games_played / playerStats.maxGamesAgainstPlayer | number:2 | decimalDot }}%">
                <div class="darker" ng-attr-style="width: {{ 99.99 * player.games_won / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_won }} games won"></div>
                <div ng-attr-style="width: {{ 99.99 * player.games_tied / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_tied }} games tied"></div>
                <div class="lighter" ng-attr-style="width: {{ 99.99 * player.games_lost / player.games_played | number:2 | decimalDot }}%" tooltip="{{ player.games_lost }} games lost"></div>
            </div>
		</li>
        
        <li class="showAll" ng-hide="playerStats.allOpponentsVisible" ng-click="playerStats.allOpponentsVisible = true">
            Show all players...
        </li>
	</ul>

</section>